$black: #000;
$white: #fff;
$grey: #999;
$grey-light: #f6f6f6;
$green: #1abc9c;
$transparent: transparent;

$mainColor: $green;

$pad: 15px;


%text-bold{
	text-transform: uppercase;
	font-weight: 500;
}

%position{
	position: relative;
	&::before{
		content: "";
		position: absolute;
		top: 100%;
		width: 20px;
		height: 2px;
		margin-top: 5px;
		background-color: $black;
	}
}

@mixin rwd($device){
	@media screen and (max-width: $device){
		@content;
	}
}