$grid-gutter-width: 30px;
// $grid-columns: 12;
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/layout";

@import "bootstrap";
@import "variable";

//Ssprite




/*
******** BASE
*/

body{
	font-family: 'Raleway', sans-serif;
}
a{

}
img{
	width: 100%;
}

h2{font-size: 56px;}
h3{font-size: 24px;}
h4{font-size: 19px;text-transform: lowercase;}
h5{font-size: 15px;}
p{font-size: 14px; color: $grey;line-height: 1.6;}

h1,h2,h3,h4,h5,h6{
	@extend %text-bold;
}

/*
******** SECTION
*/
//header


//banner
.banner{
	width: 100%;
	height: 650px;
	padding-top: 250px;
}



/*
******** MODULE
*/
.title{
	@extend %text-bold;
	@extend %position;
}
.polaroid{
	padding: $pad;
	background-color: $white;
}

.title-center{
	text-align: center;
}

.bg{
	background-color: $grey-light;
}

.no-pad{
	div{
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
}




/*
******** LAYOUT
*/


//fix plugins
